version: '3.8'

services:
  armedmusic:
    build: .
    container_name: armedmusic_bot
    restart: unless-stopped
    environment:
      - API_ID=$API_ID
      - API_HASH=$API_HASH
      - BOT_TOKEN=$BOT_TOKEN
      - MONGO_DB_URI=$MONGO_DB_URI
      - OWNER_ID=$OWNER_ID
      - LOGGER_ID=$LOGGER_ID
      - LOG_GROUP_ID=$LOG_GROUP_ID
      - DURATION_LIMIT=$DURATION_LIMIT
      - HEROKU_APP_NAME=$HEROKU_APP_NAME
      - HEROKU_API_KEY=$HEROKU_API_KEY
      - UPSTREAM_REPO=$UPSTREAM_REPO
      - UPSTREAM_BRANCH=$UPSTREAM_BRANCH
      - GIT_TOKEN=$GIT_TOKEN
      - SUPPORT_CHANNEL=$SUPPORT_CHANNEL
      - SUPPORT_CHAT=$SUPPORT_CHAT
      - AUTO_LEAVING_ASSISTANT=$AUTO_LEAVING_ASSISTANT
      - SPOTIFY_CLIENT_ID=$SPOTIFY_CLIENT_ID
      - SPOTIFY_CLIENT_SECRET=$SPOTIFY_CLIENT_SECRET
      - PLAYLIST_FETCH_LIMIT=$PLAYLIST_FETCH_LIMIT
      - TG_AUDIO_FILESIZE_LIMIT=$TG_AUDIO_FILESIZE_LIMIT
      - TG_VIDEO_FILESIZE_LIMIT=$TG_VIDEO_FILESIZE_LIMIT
      - STRING1=$STRING_SESSION
      - STRING2=$STRING_SESSION2
      - STRING3=$STRING_SESSION3
      - STRING4=$STRING_SESSION4
      - STRING5=$STRING_SESSION5
      - START_IMG_URL=$START_IMG_URL
      - PING_IMG_URL=$PING_IMG_URL
    volumes:
      - /app/sessions
      - /app/logs
    command: ["python3", "-m", "ArmedMusic"]

  mongodb:
    image: mongo:6.0
    container_name: armedmusic_mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: $MONGO_USERNAME
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
      MONGO_INITDB_DATABASE: armedmusic
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongodb_data:
