services:
  - type: web
    name: armedmusic-bot
    runtime: docker
    dockerfilePath: ./Dockerfile
    plan: starter
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: MONGO_DB_URI
        sync: false
      - key: OWNER_ID
        sync: false
      - key: LOGGER_ID
        fromService:
          type: web
          name: armedmusic-bot
          property: LOGGER_ID
      - key: LOG_GROUP_ID
        fromService:
          type: web
          name: armedmusic-bot
          property: LOG_GROUP_ID
      - key: DURATION_LIMIT
        fromService:
          type: web
          name: armedmusic-bot
          property: DURATION_LIMIT
      - key: STRING_SESSION
        sync: false
      - key: STRING_SESSION2
        sync: false
      - key: STRING_SESSION3
        sync: false
      - key: STRING_SESSION4
        sync: false
      - key: STRING_SESSION5
        sync: false

  - type: pserv
    name: armedmusic-mongo
    runtime: docker
    dockerCommand: mongod --dbpath /data/db
    plan: starter
    envVars:
      - key: MONGO_INITDB_ROOT_USERNAME
        sync: false
      - key: MONGO_INITDB_ROOT_PASSWORD
        sync: false
      - key: MONGO_INITDB_DATABASE
        fromService:
          type: pserv
          name: armedmusic-mongo
          property: armedmusic
